#bg-videos {
	/* background-color: #4233BD; */
	/* background-color: #1D1D2C; */
	background-color: #EEEEEE;
	color: black;
	margin-top: -35px;
	padding-bottom: 65px;
	overflow: hidden;
}


#videos-margin {
	padding-top: 50px;
	margin: auto;
}


.item-img1 img {
	height: 400px;
	width: 215px;
	padding-left: 0;
	margin-left: 0;
	/* object-fit: cover; */
}

.item-img2 img {
	height: 400px;
	width: 215px;
	padding-right: 0;
	margin-right: 0;
	/* object-fit: cover; */
}

iframe {
    height: 175px;
    width: 325px;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.flex-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

.item2 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.item3 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.item4 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.item5 {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

.item6 {
	grid-column: 4 / 5;
	grid-row: 1 / 4;
}

